<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>vnd.sqlite3</string>
            <key>UTTypeDescription</key>
            <string>SQLite database</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>sqlite</string>
                    <string>sqlite3</string>
                    <string>db</string>
                </array>
                <key>public.mime-type</key>
                <string>application/vnd.sqlite3</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
